%h1
  Puppies
:erb
  <object width="100%" height="100%"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fsearch%2Fshow%2F%3Fq%3Dpuppies&page_show_back_url=%2Fsearch%2F%3Fq%3Dpuppies&method=flickr.photos.search&api_params_str=&api_text=puppies&api_tag_mode=bool&api_media=all&api_sort=relevance&jump_to=&start_index=0"></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fsearch%2Fshow%2F%3Fq%3Dpuppies&page_show_back_url=%2Fsearch%2F%3Fq%3Dpuppies&method=flickr.photos.search&api_params_str=&api_text=puppies&api_tag_mode=bool&api_media=all&api_sort=relevance&jump_to=&start_index=0" width="100%" height="100%"></embed></object>
